/* baase */

:root {
  --bg-body: #222;
  --bg-content: #333;
  --text-content: #8e8f98;
  --text-question: #646161;
}

/* backgrounds */

.bg-body {
  background-color: var(--bg-body);
}

.bg-content {
  background-color: var(--bg-content);
}

/* colors */

.text-content {
  color: var(--text-content);
}

a.text-question {
  color: var(--text-question);
  font-size: 15px!important;
}

/* excvlusive margins */

.mt-100 {
  margin-top: 100px;
}

div.list-group-item {
  margin: 10px 0;
}

/* hovers */

.begin-button:hover {
  transform: scale(1.2, 1.2);
  transition: all ease-in-out .3s;
}

div.list.list-group-item:hover {
  background-color: rgb(153, 153, 153)!important;
}

a.text-question:hover {
  color: rgb(171, 219, 247); 
}

/* animations */

.start-title {
  animation: startTitle 1s;
}

.start-image {
  animation: startImage 1s;
}

.animate-lose {
  animation: lose 1s;
}

@keyframes startTitle {
  from {
    opacity: 0;
    margin-top: 0px;
  }

  to {
    opacity: 1;
    margin-top: 100px;
  }
}

@keyframes startImage {
  from {
    opacity: 0;
    margin-right: 200px;
  }

  to {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes lose {
  from {
    opacity: 0;
    margin-top: 0;
  }

  to {
    opacity: 1;
    margin-top: 100px;
  }
}

/* questions */

.bold {
  font-size: 50px;
  color: rgb(83, 247, 83)!important;
}

.selected-question {
  color: aqua!important;
}

.bold,
.selected-question {
  transition: all ease-in-out .3s;
  font-weight: bold;
}

/* score */

.message {
  font-size: 20px;
}

.face-message {
  font-size: 30px;
}

/* queries */

@media screen and (min-width: 768px) {
  a.text-question {
    font-size: 30px!important;
    display: block;
    padding: 30px;
  }

  .message {
    width: 100%;
    margin: 200px auto 0 auto;
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .message {
    justify-content: around;
  }

  .animate-lose,
  .message {
    width: 80%;
    margin: 100px auto;
  }
  
  .message,
  .face-message {
    font-size: 40px;
  }
}
